


<% if @bookings.empty? %>
  <p style="color: red">no bookings</p> 
<% else %>
  <div style="font-size: 15px; background: #eee; display: inline-block; margin-top: 30px;
    border: 1px solid #999; padding: 15px">
    <h2 style="margin-bottom: 15px; margin-top: 0">My Bookings</h2>
    <% @bookings.each_with_index do |book, i| %>
	    <%= link_to book.time, "/cleaner/booking/#{book.id}", method: :post, class: :simple_link %>
		  <% unless book.read %>
			  <span class="lab">new</span><br><br>
		  <% else %>
		    <br><br>
		  <% end %>
    <% end %> 
  </div>
<% end %>


