



  <%= form_tag client_booking_path, method: :post do %>

    <% if @notice %>
      <div class="err">
        <%= @notice %>
      </div>
    <% end %>
  <h2>Check Cleaner</h2>
    
    <%= select_tag 'cleaner_id', options_for_select(@options), class: :sel %>
	<%= submit_tag :Order %>
  
<% end %>

