

<% if @bookings.empty? %>
  <div class="err"> no bookings </div>
<% else %>
    <table class="book">
      <tr>
        <th>Cleaner Fname</th>
        <th>Cleaner Lname</th> 
        <th>Date</th>
        <th>Time</th>
      </tr>
	      <% @bookings.each_with_index do |book, i| %>
          <tr>
            <td><%= book.cleaner.fname %></td>
            <td><%= book.cleaner.lname %></td> 
            <td><%= book.date_to_s %></td>
            <td><%= book.time %></td>
          </tr>
        <% end %> 
  </table>
<% end %>

