
<div style="border-bottom: 1px solid black; display: inline-block">
   <h1 style="margin-bottom: 10px" >Welcom to CleaningBoard</h1> 
</div><br><br>

<%= link_to 'login for client', login_client_path, class: :link %> <br><br>
<%= link_to 'login for cleaner', login_cleaner_path, class: :link %> <br><br>
<%= link_to 'registration for client', registration_client_path, class: :link %><br><br>
<%= link_to 'registration for cleaner', registration_cleaner_path, class: :link %>
 

