
<div style="border-bottom: 1px solid black; display: inline-block">
   <h1 style="margin-bottom: 10px" >Welcom to CleaningBoard</h1> 
</div><br><br>

<%= link_to 'login', login_path, class: :link %> <br><br>
<%= link_to 'registration', registration_path, class: :link %>

 

