

body {

      font-family:initial !important

      }


.line {

  display: inline;
 
}



.lab {

  color: red; 
  border: 1px solid black; 
  background: #ccc;
  border-radius: 2px; 
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px

}

table, th, td {

  border: 1px solid black

}

.menu {

  background: #ccc; 
  height: 45px;
  padding: 4px;

}

.title {

   
   background: #aaa; 
   height: 45px;
   padding-left: 10px;
   padding-right: 10px;
   float: left;
   display: inline-block;
   border-right: 4px solid #ccc;
   

}

.sp {
   
   font-size: 22px; 
   margin-top: 10px;
   display: inline-block;
   color: #696969

}

.side {

  background: #aaa;
  height: 45px;
  
}

.link {

  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin-right:  50px;
  margin-left: 20px;
  margin-top: 10px;
  /*color: #696969;*/
  color: #595959
}

.simple_link {

  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin-right:  20px;
  
  color: #333;
}

.simple_link:hover {
  background: #eee;
  color: #666;
}

.btn_link {

  text-decoration: none;
  margin-left: 30px;
  border: 1px solid black;
  padding: 1px 6px;
  color: #000;
  border-radius: 1px;
  border-color: #999

}

.btn_link:hover {

   background: #eee;
   color: black;
   border-color: #777
}

a:hover {

  background: #aaa;
  color: #F1F9F9;
}

body {

  background:  #F2F2F2;
  margin: 0;
   

}

.container {

  margin-left: 25px;
  margin-right: 25px;
}

.btn {
    
    font-size: 15px;
    /*color: #555;*/
}

form {

  border: 1px solid #ddd;
  display: inline-block;
  padding: 15px;
  margin-top: 30px;
  background: #fff;
}


.err {

   background: #FC98BB; 
   color: #333; 
   padding: 10px; 
   display: inline-block;
   border-radius: 4px;
   margin-top: 30px; 
   margin-bottom: 0

}

.book {
 
   background: #eee; 
   color: #111;
   padding: 10px;
   display: inline-block;
   border: 1px solid black;
   margin: 20px 20px 0 0
}

.cla {

  color: red;

}